@charset "UTF-8";

/* imperfectbutpublished.org */


html {
  overflow-y: scroll;
}

body {
  margin: 0 auto;
  padding: 2%;
  max-width: 40em;
}

header {
  margin-bottom: 2em;
}

header h1 {
  font-size: 150%;
}

header p {
  font-size: 70%;
  text-transform: uppercase;
}

header a,
footer a {
  color: black;
  text-decoration: none;
}

footer {
  margin-top: 2em;
}

footer p {
  font-size: 70%;
}

nav {
  text-align: right;
}
