@charset "UTF-8";

/* imperfectbutpublished.org */

body {
  padding: 2%;
}

header h1 {
  font-size: 150%;
}

header p {
  font-size: 70%;
  text-transform: uppercase;
}

header a,
footer a {
  color: black;
  text-decoration: none;
}

footer p {
  font-size: 70%;
}

nav {
  text-align: right;
}
